*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    width: 100px;
    height: 100px;
    background: blue;
    color: white;
    margin: 1rem;
}

.flex-container {
    border: 6px solid red;
    display: flex;
}